@import '../../../assets/sass/variables';

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .primary {
    font-size: 48px;
    margin-top: 240px;
  }

  .secondary {
    font-size: 32px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    &__input-text {
      width: 300px;
    }

    &__button {
      margin-top: 16px;
      width: 300px;
    }
  }
}
