@import '../../assets/sass/variables';

.product-card {
  width: 100%;

  border: 1px solid #757575;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  position: relative;

  &__photo {
    height: auto;
    width: 250px;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    .title {
      font-size: 14px;
    }
    .price {
      color: $primaryColor;
    }
  }
}
